<%= form_with model: @task do |f| %>
  <h2> <%= action_name %></h2>
  <p>Please provide the following information to save your book to our database:</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :due_date %>
  <%= f.text_field :due_date %>

  <%= f.submit button_title, class: "task-button" %>
<% end %>
