<h1>Your Tasks</h1>

<ol>
  <% @tasks.each do |task| %>
    <% if task.status == "Complete" %>

    <li class="complete">
      <%= link_to "#{task.name}", task_path(task.id) %>
    </li>

    <% else %>
    <li>
      <%= link_to "#{task.name}", task_path(task.id) %>
    </li>
    <% end %>

      <%= link_to "Status: #{task.status} | ", complete_task_path(task.id), method: :patch %>
      <%= link_to "Edit | ", edit_task_path(task.id)%>
      <%= link_to "Delete", task_path(task.id), method: :delete, data: {confirm: 'Are you sure you want to delete this task?'} %>
      <br>
  <% end %>
</ol>
